<!DOCTYPE html "-//W3C//DTD XHTML 1.0 Strict//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head><title>Geoprofiles</title></head>
<body  onload="initialize()" onunload="GUnload()">
  <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAA3HdfrnxFAPWyY-aiJUxmqRTJQA0g3IQ9GZqIMmInSLzwtGDKaBQ0KYLwBEKSM7F9gCevcsIf6WPuIQ&sensor=false"
type="text/javascript"></script> 
  <script type="text/javascript">
    function initialize() { if (GBrowserIsCompatible()) { var map = new
GMap2(document.getElementById("map_canvas")); map.setCenter(new GLatLng(37.4419,
-122.1419), 13); } }
  </script> 
	<h1>Geoprofiles</h1>
	<div id="map_canvas" style="width: 500px; height: 300px"></div>
</body>
</html>